*{
    box-sizing: border-box;
}
body{
    padding:0px;
    margin:0px;
    background:#E6E6FA;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #662d91;
    margin: 5px;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    background:#EE82EE;
    height: 66px;
}

header *{
    color:white;
}
header .logo{
    float:left;
    height: inherit;
    margin-left: 2em;
}
header .logo-text{
    margin:9px;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header .logo-text span{
    margin:9px;
    color:#720e9e;
}
header ul{
    float:right;
    margin:0px;
    Padding:0px;
    list-style:none;

}
header ul li{
    float:left;
    position: relative;
}
header ul li ul{
    position: absolute;
    top:66px;
    left:0px;
    width:180px;
    display: none;
    z-index:88888;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li{
    width:100%;
}

header ul li ul a{
    padding: 10px;
    background: #F0E6FA;
    color: #5a2c6d;
}
header ul li ul li a.logout{
    color: red;
}
header ul li ul a:hover{
    background: #d5d5d5d6;
}
header ul li a{
    display:block;
    padding:21px;
    font-size: 1.1em;
    text-decoration: none;
}
header ul li a:hover{
    background:#B44CB6;
    transition:0.5s;
}
header .menu-toggle {
    display: none;
}
.page-wrapper a:hover{
    color: #B44CB6;
    transition: 0.3s;
}
/*Post slider*/
.post-slider{
    position: relative;
    padding: 20px 0;
}
.post-slider .slider-title{
    text-align: center;
    margin: 30px auto;
    color: #662d91;
}
.post-slider .next{
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color:#662d91;
    cursor: pointer;
    z-index: 100;
}
.post-slider .prev{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color:#662d91;
    cursor:pointer;
    z-index: 100;
}
.post-slider .post-wrapper{
    width: 84%;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px;
}
.post-slider .post-wrapper .post{
    height: 330px;
    width: 300px !important;
    margin: 0px 10px;
    display: inline-block;
    background:white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(102, 45, 145, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.post-slider .post-wrapper .post:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(102, 45, 145, 0.25);
}
.post-slider .post-wrapper .post .post-info{
    height:130px;
    padding: 10px 15px;
    color: #444;
}
.post-slider .post-wrapper .post .post-info i{
    color: #B44CB6;
    font-size: 0.9em;
}
.post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
    object-position: 50% 30%;
}
/* Slick slider centering */
.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Media Queries */

@media only screen and (max-width:750px){
    header{
        position: relative;
    }
    header ul{
        width: 100%;
        background:#F2A5F2;
        max-height: 0px;
        overflow: hidden;
    }
    .showing{
        max-height: 100em;
    }
    header ul li{
        width:100%;
    }
    header ul li ul{
        position: static;
        width:100%;
        display: none;
        background:inherit;
    }
    header ul li ul.showing{
        display: block;
    }
    header ul li:hover ul{
        display: none;
    }
    header ul li ul a{
        padding: 10px;
        background: #F2A5F2;
        color: #5a2c6d;
        padding-left:50px;
    }
    header ul li ul li a.logout{
        color: red;
    }
    header .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }
    header .logo{
        margin-left: .5em;
    }
    .post-slider .post-wrapper{
        width: 95%;
    }
}